<form class="uk-form">
    <div class="uk-form-row">
        <input class="uk-width-1-1" type="text" placeholder="Pista">
    </div>
    <div class="uk-form-row">
        <input class="uk-width-1-1" type="text" placeholder="Resposta">
    </div>
    <div class="uk-form-row">
        <a class="uk-button uk-button-primary" href="#">Criar</a>
    </div>
</form>
